{% extends 'app.html' %} 
{% load static %}
{% load i18n %}
{% block title %}{% translate "Admin" %} - {% translate "Bats" %}{% endblock title %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
{% endblock stylesheet %} {% block content %}
<section class="section elements">
  <div class="container py-5">
    <div class="row">
      <div class="col-xl-10">
        <h4 class="elements__title">{% translate "Species" %}</h4>
        <a class="form__submit text-decoration-none" href="{% url 'administration:bat-create'%}"
          >{% translate "Add species" %}</a
        >
      </div>
    </div>
    <div class="card card-body my-3">
      <div class="table-responsive">
        <table class="table align-middle table-striped table-hover">
          <thead class="table-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">{% translate "Name" %}</th>
              <th scope="col">{% translate "Genus" %}</th>
              <th scope="col">{% translate "Cover Image" %}</th>
              <th scope="col">{% translate "Operations" %}</th>
            </tr>
          </thead>
          <tbody>
            {% for bat in bats %}
            <tr class="data-row">
              <td>{{bat.id}}</td>
              <td>{{bat.name}}</td>
              <td>{{bat.genus}}</td>
              <td>
                <img
                  style="width: 60px; height: 60px"
                  src="{{bat.cover_image.url}}"
                  class="rounded"
                />
              </td>
              <td>
                <a
                  class="btn btn-warning"
                  href="{% url 'administration:bat-update-delete' id=bat.id %}"
                  >{% translate "Edit" %}</a
                >
                <button
                  type="button"
                  class="btn btn-danger btn-delete"
                  data-url="{% url 'administration:bat-update-delete' id=bat.id %}"
                  >{% translate "Delete" %}</button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
{% endblock content%}


{% block scripts %}
<script>
  let csrftoken = '{{ csrf_token }}'
</script>
<script src="{% static 'js/delete-table-record.js' %}"></script>
{% endblock scripts %}