{% extends 'app.html' %}
{% load i18n %}

{% block content %}
<section class="promo-primary">
    <picture>
        <source srcset="{{bat.cover_image.url}}" media="(min-width: 992px)"/><img class="img--bg" src="{{bat.cover_image.url}}" alt="img"/>
    </picture>
    <div class="container">
        <div class="row">
            <div class="col-auto">
                <div class="align-container">
                    <div class="align-container__item"><span class="promo-primary__pre-title">{{bat.genus.name}}</span>
                        <h1 class="promo-primary__title"><span>{{bat.name}}</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section blog-post">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 offset-xl-2">
                <div class="blog-post__top">
                    {% include "inc/gallery.html" with items=bat.species_images.all %}
                </div>
                <h4 class="blog-post__title">{% translate "Description" %}</h4>
                {{bat.species_attributes_result.description|safe}}
                <h4 class="blog-post__title">{% translate "Distribution" %}</h4>
                {{bat.species_attributes_result.distribution|safe}}
                <h4 class="blog-post__title">{% translate "Biology" %}</h4>
                {{bat.species_attributes_result.biology|safe}}
                <h4 class="blog-post__title">{% translate "Conservation" %}</h4>
                {{bat.species_attributes_result.conservation|safe}}
                <h4 class="blog-post__title">{% translate "Habitat" %}</h4>
                {{bat.species_attributes_result.habitat|safe}}
                <h4 class="blog-post__title">{% translate "Threats" %}</h4>
                {{bat.species_attributes_result.threats|safe}}
            </div>
        </div>
    </div>
</section>
{% endblock content %}