:root {
    --main-color: #6E2A9C;
    --secondary-color: #2eb872;
    --main-color-transparent: rgb(110, 42, 156, 0.5);
}

a {
    text-decoration: none !important;
}

.button:hover {
    color: whitesmoke;
    background-color: var(--main-color);
}

.button--main {
    border: 2px solid var(--main-color);
}

.promo-primary__title::before {
    background-color: var(--secondary-color) !important;
}

.promo--front-3 .video-trigger i {
    background: var(--main-color);
}

.testimonials--style-1 .testimonials__img {
    max-width: 90%;
    max-height: 25em;
}

.events-item__date {
    background: var(--secondary-color);
    color: whitesmoke;
}

.promo--front-3 .video-trigger:hover i {
    background: var(--main-color);
}

.destination-item--style-2::before {
    background: rgba(46, 184, 114, .1);
}

.logo.logo--footer .logo__img {
    min-width: 15em;
    height: 7.5em;
}

.filter-panel__item::after {
    background: var(--secondary-color);
}

.blog-item__date {
    background: var(--secondary-color);
    color: whitesmoke;
}

.btn-delete {
    border-color: #fd4040;
}

.btn-delete:hover {
    background-color: #fd4040;
}

.django-ckeditor-widget {
    display: block !important;
}

.img--bg {
    object-fit: fill !important;
}

.form__submit {
    border-color: var(--main-color) !important;
    text-decoration: none !important;
    color: black !important;
}

.form__submit:hover {
    background: var(--main-color);
    color: white !important;
}


.animal-block__link::before {
    background: var(--secondary-color);
}

.animal-block__link {
    color: var(--secondary-color);
}

.animal-block__link:hover {
    color: var(--secondary-color);
}

.tags--style-2 .tags__item {
    background: var(--main-color);
    color: whitesmoke;
}

.breadcrumbs__item--active {
    color: var(--secondary-color)
}

.categories-list__name {
    width: calc(100% - 10em);
}

.errorlist li {
    color: #fd4040 !important;
}

/* Lightbox */
.lightbox-container {
    position: relative;
}

.lightbox-slides {
    display: none;
}

.lightbox-cursor {
    cursor: pointer;
}

.lightbox-prev,
.lightbox-next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white !important;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.lightbox-next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.lightbox-prev:hover,
.lightbox-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.lightbox-numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.lightbox-caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.lightbox-row:after {
    content: "";
    display: table;
    clear: both;
}

.lightbox-column {
    float: left;
    width: 16.66%;
}

.lightbox-demo {
    opacity: 0.6;
}

.lightbox-active,
.lightbox-demo:hover {
    opacity: 1;
}

.filter-panel a {
    color: #212529 !important;
}

.animal-block::before {
    padding-top: 105% !important;
}

.breadcrumbs {
    font-size: 1.2em !important;
}

@media only screen and (min-width: 992px) {
    .header-f3 .header__top {
        padding: 5px 20px !important;
    }
}

.search-form {
    margin-left: 50px !important;
    display: flex;
    align-items: center;
}

.search-form__input {
    padding: 11.3px 20px 11.3px 38.6px !important;
    font-size: 12px !important;
}

.search-form__submit {
    font-size: 13.3px !important;
    height: 38.6px !important;
    width: 38.6px !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
}

.header-f3 .header__socials a {
    text-decoration: none !important;
}

.blog-item__img::before {
    padding-top: 75%;
}

.button--main {
    border: 2px solid var(--main-color) !important;
}