{% extends 'shared/base_layout.html' %} 
{% load static %} 
{% load i18n %} 
{% block title %}{% translate "About Us" %}{% endblock title %} 

{% block content %}
{% with breadcrumb_image='base/img/breadcrumb/01.jpg' breadcrumb_title='About Us' %} 
{% include "shared/breadcrumb.html" with breadcrumb_menu=breadcrumb_menu breadcrumb_title=breadcrumb_title breadcrumb_image=breadcrumb_image %} 
{% endwith %}

<div class="about-area py-120">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="about-left">
          <div class="about-img">
            <img
              class="about-img-1"
              src="{% static 'base/img/about/01.png' %}"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-right">
          <div class="site-heading mb-3">
            <span class="site-title-tagline">{% translate "About Us" %}</span>
            <h2 class="site-title">
              Get closer to wonders of the natural world
            </h2>
          </div>
          <p class="about-text">
            There are many variations of passages of Lorem Ipsum available, but
            the majority have suffered alteration in some form, by injected
            humour, or randomised words which don't look even slightly
            believable.
          </p>
          <a href="{% url 'apps.species:list' %}" class="theme-btn mt-4"
            >{% translate "Discover More" %} <i class="far fa-arrow-right"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>

{% include "home/components/species_counter.html" with family_count=family_count genus_count=genus_count bat_count=bat_count %} 
{% include "home/components/author_list.html" with authors=authors %} 
{% endblock content %}
