{% extends 'shared/base_layout.html' %} 
{% load static %} 
{% load i18n %} 
{% block title %} {% translate "Home" %}{% endblock title %} 
{% block description %} {% translate "Home Meta Description" %}{% endblock description %} 

{% block content %}

{% include "home/components/hero.html" with carousel_items=carousel_items %}
{% include "home/components/family_list.html" with families=families %}
{% include "home/components/species_counter.html" with family_count=family_count genus_count=genus_count bat_count=bat_count %}
{% include "home/components/author_list.html" with author=author %}
{% include "activities/site_visits/site_visit_list.html" with site_visits=site_visits %}
{% include "activities/projects/project_list.html" with projects=projects %}
{% include "home/components/article_list.html" with articles=articles %}

{% endblock content %}
