{% extends 'shared/base_layout.html' %} 
{% load static %} 
{% load i18n %} 
{% block title %} {% translate "Not Found" %}{% endblock title %} 
{% block description %} {% translate "Not Found Meta Description" %}{% endblock description %} 

{% block content %}

{% with breadcrumb_image='base/img/breadcrumb/01.jpg' breadcrumb_title='Not Found' %}
  {% include "shared/breadcrumb.html" with breadcrumb_menu=breadcrumb_menu breadcrumb_title=breadcrumb_title breadcrumb_image=breadcrumb_image %}
{% endwith %}

<div class="error-area py-120">
  <div class="container">
    <div class="col-md-6 mx-auto">
      <div class="error-wrapper">
        <h2>{% translate "Page Not Found" %}!</h2>
        <p>
          {% blocktranslate %} 
          The page you looking for not found may be it not exist or removed. 
          {% endblocktranslate %}
        </p>
        <a href="{% url 'apps.home:home' %}" class="theme-btn"
          >{% translate "Go Back Home" %} <i class="far fa-home"></i
        ></a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
