{% extends 'shared/base_layout.html' %} 
{% load static %} 
{% load i18n %} 
{% block title %}{% translate "Privacy Policy" %}{% endblock title %} 

{% block content %}

{% with breadcrumb_image=static 'base/img/breadcrumb/01.jpg' breadcrumb_title=translate 'Privacy Policy' %}
  {% include "shared/breadcrumb.html" with breadcrumb_menu=breadcrumb_menu breadcrumb_title=breadcrumb_title breadcrumb_image=breadcrumb_image %}
{% endwith %}

<div class="pt-120 pb-120">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="terms-content">
          <h3>{% translate "Privacy Policy" %}</h3>
          <p>{{ privacy_policy }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
