{% extends 'shared/base_layout.html' %} 
{% load static %} 
{% load i18n %} 
{% load static_texts %}
{% block title %}{% translate "Privacy Policy" %}{% endblock title %} 

{% block content %}

{% static "base/img/breadcrumb/01.jpg" as breadcrumb_image %}

{% with breadcrumb_title='Privacy Policy' %}
  {% include "shared/breadcrumb.html" with breadcrumb_menu=breadcrumb_menu breadcrumb_title=breadcrumb_title breadcrumb_image=breadcrumb_image %}
{% endwith %}

<div class="pt-120 pb-120">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="terms-content">
          <h3>{% translate "Privacy Policy" %}</h3>
          <p>{% get_static_text 'privacy_policy' CURRENT_LANGUAGE %}</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
