{% load i18n %} 

<div class="blog-author">
  <div class="blog-author-img">
    <img
      loading="lazy"
      src="{{author.profile_image}}"
      alt="{{author.name}} {% translate 'profile image' %}"
    />
  </div>
  <div class="author-info">
    <h6>{% translate "Author" %}</h6>
    <h3 class="author-name">{{author.name}}</h3>
    <p>{{author.bio}}</p>
    <div class="author-social">
      {% include "shared/social_links.html" with social_links=author.social_links %}
    </div>
  </div>
</div>
