{% load static %} 
{% load i18n %}
{% load shared_extras %}

<header class="header">
  <div class="header-top">
    <div class="container">
      <div class="header-top-wrapper">
        <div class="header-top-left">
          <div class="header-top-contact">
            <ul>
              <li>
                <a
                  href="https://live.themewild.com/cdn-cgi/l/email-protection#670e09010827021f060a170b024904080a"
                  ><i class="far fa-envelope-open"></i
                  ><span
                    >{{author.contact.email}}</span
                  ></a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="header-top-right">
          <div class="header-top-lang">
            <div class="dropdown">
              <button
                class="dropdown-toggle"
                type="button"
                id="lang"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="far fa-globe-americas"></i>{{CURRENT_LANGUAGE|upper}}
              </button>
              <ul class="dropdown-menu" aria-labelledby="lang">
                {% for lang in languages %}
                <li>
                  <a
                    class="dropdown-item"
                    href="{% build_language_path path=request.get_full_path language=lang.code current_language=CURRENT_LANGUAGE%}"
                  >
                    <img
                      src="{{ lang.code|get_language_icon }}"
                      alt="{{lang.name|upper}}"
                    />
                    {{lang.name|upper}}
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="header-top-social">
            {% include "shared/social_links.html" with social_links=author.social_links %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-navigation">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="{% url 'apps.home:home' %}">
          <img src="{% static 'base/img/logo/logo.png' %}" alt="logo" />
        </a>
        <div class="mobile-menu-right">
          <div class="mobile-menu-list">
            <a href="#" class="mobile-menu-link search-box-outer"
              ><i class="far fa-search"></i
            ></a>
          </div>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#main_nav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"
              ><i class="far fa-stream"></i
            ></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="main_nav">
          <ul class="navbar-nav">
            {% for menu_item in base_menu %}
            {% if menu_item.submenu %}
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                data-bs-toggle="dropdown"
                >{{menu_item.name}}</a
              >
              <ul class="dropdown-menu fade-up">
                {% for submenu_item in menu_item.submenu %}
                {% if submenu_item.submenu %}
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">{{submenu_item.name}}</a>
                  <ul class="dropdown-menu">
                    {% for sub_submenu_item in submenu_item.submenu %}
                    <li>
                      <a class="dropdown-item" href="{{sub_submenu_item.route}}">{{sub_submenu_item.name}}</a>
                    </li>
                    {% endfor %}
                  </ul>
                </li>
                {% else %}
                <li>
                  <a class="dropdown-item" href="{{submenu_item.route}}">{{submenu_item.name}}</a>
                </li>
                {% endif %}
                {% endfor %}
              </ul>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link {% if request.path == menu_item.route %}active{% endif %}" href="{{menu_item.route}}"
                >{{menu_item.name}}</a
              >
            </li>
            {% endif %}
            {% endfor %}
          </ul>
          <div class="header-nav-right">
            <div class="header-nav-search">
              <a href="#" class="header-nav-link search-box-outer"
                ><i class="far fa-search"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
