{% load static %}
{% load i18n %}

<div class="site-breadcrumb" style="background: url({{breadcrumb_image}})">
  <div class="container">
    <h2 class="breadcrumb-title">{% translate breadcrumb_title %}</h2>
    <ul class="breadcrumb-menu">
      {% for item in breadcrumb_menu %}
      <li class="{% if forloop.last %}active{% endif %}">
        {% if not forloop.last %}
        <a href="{{ item.url }}">{{ item.name }}</a>
        {% else %} {{ item.name }} {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
