{% extends 'app.html' %} 
{% load static %} 
{% load i18n %} 
{% block title %}{% translate "Admin" %} - {% translate "Authors" %}{% endblock title %} 
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
{% endblock stylesheet %} 
{% block content %}
<section class="section">
  <div class="container py-5">
    <div class="bottom-40">
      <ul class="breadcrumbs breadcrumbs--with-dot">
        <li class="breadcrumbs__item">
          <a
            class="breadcrumbs__link"
            href="{% url 'administration:dashboard' %}"
            >{% translate "Dashboard" %}</a
          >
        </li>
        <li class="breadcrumbs__item breadcrumbs__item--active">
          {% translate "Authors" %}
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="heading heading--primary heading--center">
          <h2 class="heading__title no-margin-bottom">
            <span>{% translate "Add author" %}</span>
          </h2>
        </div>
        <div class="container my-3">
          {% include 'components/messages.html' with messages=messages %}
        </div>
        <form class="form" method="post" enctype="multipart/form-data">
          {{ form.media }} 
          {% include "components/form/hidden_fields.html" with hidden_fields=form.hidden_fields %}
          {{form.non_form_errors}}
          <div class="card bottom-40 card-body">
            <div class="row">
              <div class="col-12 bottom-20">
                <label
                  class="form-label"
                  for="{{ form.cover_image.id_for_label }}"
                  >{{ form.cover_image.label }}</label
                >
                {{form.cover_image}} {{ form.cover_image.errors }}
              </div>
            </div>
          </div>
          <div class="card bottom-40">
            <div class="card-header">
              <h4>{% translate "Author" %} {% translate "data for different languages" %}</h4>
            </div>
            <div class="card-body">
              {{ attributes_formset.management_form }} 
              {% for formset_item in attributes_formset %} 
              {% include "components/form/hidden_fields.html" with hidden_fields=formset_item.hidden_fields %}
              {{formset_item.non_form_errors}}
              <h4>{% translate "Data" %} {{forloop.counter}}</h4>
              <div class="row">
                {{ formset_item.media }}
                <div class="col-12 col-md-4 bottom-20">
                  <label
                    class="form-label"
                    for="{{ formset_item.language.id_for_label }}"
                    >{{ formset_item.language.label }}</label
                  >
                  {{formset_item.language}} {{ formset_item.language.errors }}
                </div>
                <div class="col-12 col-md-8 bottom-20">
                  <label
                    class="form-label"
                    for="{{ formset_item.name.id_for_label }}"
                    >{{ formset_item.name.label }}</label
                  >
                  {{formset_item.name}} {{ formset_item.name.errors }}
                </div>
                <div class="col-12 bottom-20">
                  <label
                    class="form-label"
                    for="{{ formset_item.description.id_for_label }}"
                    >{{ formset_item.description.label }}</label
                  >
                  {{formset_item.description}} {{ formset_item.description.errors }}
                </div>
              </div>
              <hr />
              {% endfor %}
            </div>
          </div>
          <div class="col-12 bottom-20 text-center">
            <button class="form__submit text_decoration-none" type="submit">
              {% translate "Save" %}
            </button>
          </div>
          {% csrf_token %}
        </form>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-10">
        <h4 class="elements__title">{% translate "Authors" %}</h4>
      </div>
    </div>
    <div class="card card-body my-3">
      <div class="table-responsive">
        <table class="table align-middle table-striped table-hover">
          <thead class="table-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">{% translate "Name" %}</th>
              <th scope="col">{% translate "Image" %}</th>
              <th scope="col">{% translate "Operations" %}</th>
            </tr>
          </thead>
          <tbody>
            {% for author in authors %}
            <tr class="data-row">
              <td>{{author.id}}</td>
              <td>
                {% for item in author.author_attributes.all %}
                <li class="list-unstyled">
                  {{item.name}} - {{item.language|upper}}
                </li>
                {% endfor %}
              </td>
              <td>
                <img
                  style="width: 60px; height: 60px"
                  src="{{author.cover_image.url}}"
                  class="rounded"
                />
              </td>
              <td>
                <a
                  class="btn btn-warning"
                  href="{% url 'administration:author-update-delete' id=author.id %}"
                  >{% translate "Edit" %}</a
                >
                <button
                  type="button"
                  class="btn btn-danger btn-delete"
                  data-url="{% url 'administration:author-update-delete' id=author.id %}"
                >
                  {% translate "Delete" %}
                </button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

{% endblock content%} {% block scripts %}
<script>
  let csrftoken = "{{ csrf_token }}";
</script>
<script src="{% static 'js/delete-table-record.js' %}"></script>
{% endblock scripts %}
