{% extends 'app.html' %} 
{% load static %} 
{% load i18n %}
{% block title %}{% translate "Admin" %} - {% translate "Authors" %}{% endblock title %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
{% endblock stylesheet %} 
{% block content %}
<section class="section">
  <div class="container py-5">
    <div class="accordion accordion--primary">
      <div class="accordion__title-block">
        <h6 class="accordion__title">{% translate "Add researcher" %}</h6><span class="accordion__close"></span>
      </div>
      <div class="accordion__text-block">
        <div class="row">
          <div class="col">
            <form class="form" method="post" enctype="multipart/form-data">
              {{ form.media }}
              <div class="row">
                <div class="col-12 bottom-20">
                  <label
                    class="elements__subtitle"
                    for="{{ form.cover_image.id_for_label }}"
                    >{{ form.cover_image.label }}:</label
                  >
                  {{form.cover_image}} {{ form.cover_image.errors }}
                </div>
                <hr/>
                <h5>{% translate "Researcher data for different languages" %}</h5>
                {{ attributes_formset.management_form }}
                {% for formset_item in attributes_formset %}
                  {% for hidden_field in formset_item.hidden_fields %}
                    {{hidden_field.errors}}
                    {{hidden_field}}
                  {% endfor %}
                  {{formset_item.non_form_errors}}
                  <div>
                    <h6>{% translate "Researcher Data" %} {{forloop.counter}}</h6>
                    {{ formset_item.media }}
                    <div class="col-12 bottom-20">
                      <label
                        class="elements__subtitle"
                        for="{{ formset_item.language.id_for_label }}"
                        >{{ formset_item.language.label }}:</label
                      >
                      {{formset_item.language}} {{ formset_item.language.errors }}
                    </div>
                    <div class="col-12 bottom-20">
                      <label
                        class="elements__subtitle"
                        for="{{ formset_item.name.id_for_label }}"
                        >{{ formset_item.name.label }}:</label
                      >
                      {{formset_item.name}}
                      {{ formset_item.name.errors }}
                    </div>
                    <div class="col-12 bottom-20">
                      <label
                        class="elements__subtitle"
                        for="{{ formset_item.description.id_for_label }}"
                        >{{ formset_item.description.label }}:</label
                      >
                      {{formset_item.description}} 
                      {{ formset_item.description.errors }}
                    </div>
                    
                    <hr/>
                  </div>
                {% endfor %}
                <div class="col-12 bottom-20 text-center">
                  <button class="form__submit text_decoration-none" type="submit">{% translate "Save" %}</button>
                </div>
              </div>
              {% csrf_token %}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-10">
        <h4 class="elements__title">{% translate "Researchers" %}</h4>
      </div>
    </div>
    <div class="card card-body my-3">
      <div class="table-responsive">
        <table class="table align-middle table-striped table-hover">
          <thead class="table-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">{% translate "Name" %}</th>
              <th scope="col">{% translate "Image" %}</th>
              <th scope="col">{% translate "Operations" %}</th>
            </tr>
          </thead>
          <tbody>
            {% for author in authors %}
            <tr class="data-row">
              <td>{{author.id}}</td>
              <td>
                {% for item in author.author_attributes.all %}
                  <li class="list-unstyled">{{item.name}} - {{item.language|upper}}</li>
                {% endfor %}
              </td>
              <td>
                <img
                  style="width: 60px; height: 60px"
                  src="{{author.cover_image.url}}"
                  class="rounded"
                />
              </td>
              <td>
                <a
                  class="btn btn-warning"
                  href="{% url 'administration:author-update-delete' id=author.id %}"
                  >{% translate "Edit" %}</a
                >
                <button
                  type="button"
                  class="btn btn-danger btn-delete"
                  data-url="{% url 'administration:author-update-delete' id=author.id %}"
                  >{% translate "Delete" %}</button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

{% endblock content%}


{% block scripts %}
<script>
  let csrftoken = '{{ csrf_token }}'
</script>
<script src="{% static 'js/delete-table-record.js' %}"></script>
{% endblock scripts %}