{% extends 'app.html' %} {% load static %} {% load i18n %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
{% endblock stylesheet %} 
{% block title %}{% translate "Admin" %} - {{author.name}}{% endblock title %}
{% block content %}
<section class="section">
  <div class="container py-5">
    <div class="bottom-40">
      <ul class="breadcrumbs breadcrumbs--with-dot">
        <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="{% url 'administration:dashboard' %}">{% translate "Dashboard" %}</a></li>
        <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="{% url 'administration:author-list-create' %}">{% translate "Authors" %}</a></li>
        <li class="breadcrumbs__item breadcrumbs__item--active">{{author.author_attributes_result.name}}</li>
      </ul>
    </div>
    <div class="row bottom-50">
      <div class="col-12 bottom-20">
        <div class="heading heading--primary heading--center">
          <h2 class="heading__title no-margin-bottom">
            <span>{% translate "Edit" %} - {{author.author_attributes_result.name}}</span>
          </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <form class="form" method="post" enctype="multipart/form-data">
          {{ form.media }}
          {% include "components/form/hidden_fields.html" with hidden_fields=form.hidden_fields %}
          {{form.non_form_errors}}
            <div class="card card-body bottom-40">
              <div class="row">
                <div class="col-12 bottom-20">
                  <label
                    class="form-label"
                    for="{{ form.cover_image.id_for_label }}"
                    >{{ form.cover_image.label }}</label
                  >
                  {{form.cover_image}}
                  <img
                    src="{{form.cover_image.value.url}}"
                    class="my-2"
                    style="width: 60px; height: 60px"
                  />
                  {{ form.cover_image.errors }}
                </div>
              </div>
            </div>
            <div class="card bottom-40">
              <div class="card-header">
                <h4 >{% translate "Researcher data for different languages" %}</h4>
              </div>
              <div class="card-body">
                {{ attributes_formset.management_form }}
                {% for formset_item in attributes_formset %}
                {% include "components/form/hidden_fields.html" with hidden_fields=formset_item.hidden_fields %}
                  {{formset_item.non_form_errors}}
                  {{ formset_item.media }}
                  <h4>{% translate "Researcher Data" %} {{forloop.counter}}</h4>
                  <div class="row">
                    <div class="col-12 bottom-20">
                      <div class="form-check">
                        <label
                          class="form-check-label text-danger"
                          for="{{ formset_item.DELETE.id_for_label }}"
                          >{{ formset_item.DELETE.label }} </label
                        >
                        <input class="form-check-input" type="checkbox" name="{{ formset_item.DELETE.html_name }}" id="{{ formset_item.DELETE.id_for_label }}">
                        {{ formset_item.DELETE.errors }}
                      </div>
                    </div>
                    <div class="col-12 col-md-4 bottom-20">
                      <label
                        class="form-label"
                        for="{{ formset_item.language.id_for_label }}"
                        >{{ formset_item.language.label }}</label
                      >
                      {{formset_item.language}} {{ formset_item.language.errors }}
                    </div>
                    <div class="col-12 col-md-8 bottom-20">
                      <label
                        class="form-label"
                        for="{{ formset_item.name.id_for_label }}"
                        >{{ formset_item.name.label }}</label
                      >
                      {{formset_item.name}}
                      {{ formset_item.name.errors }}
                    </div>
                    <div class="col-12 bottom-20">
                      <label
                        class="form-label"
                        for="{{ formset_item.description.id_for_label }}"
                        >{{ formset_item.description.label }}</label
                      >
                      {{formset_item.description}} {{ formset_item.description.errors }}
                    </div>                  
                  </div>
                  <hr/>
                {% endfor %}
              </div>
            </div>
            <div class="col-12 bottom-20 text-center">
              <button class="form__submit text_decoration-none" type="submit">{% translate "Save" %}</button>
            </div>
          {% csrf_token %}
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock content%}
