{% load static %} {% load i18n %}

<div class="team-area bg py-120">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 mx-auto">
        <div class="site-heading text-center">
          <span class="site-title-tagline">{% translate "Authority" %}</span>
          <h2 class="site-title">{% translate "Meet Our Authority" %}</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="team-item">
          <img src="{{author.profile_image}}" alt="{{author.name}} {% translate 'profile image' %}" />
          <div class="team-social">
            {% include "shared/social_links.html" with social_links=author.social_links %}
          </div>
          <div class="team-content">
            <div class="team-bio">
              <h5><a href="javascript:void(0)">{{author.name}}</a></h5>
              <span>{{author.specialty}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
