{% extends 'app.html' %} 
{% load static %} 
{% load i18n %} 
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
{% endblock stylesheet %} 
{% block title %}{% translate "Admin" %} - {% translate "Articles" %}{% endblock title %} 
{% block content %}
<section class="section">
  <div class="container py-5">
    <div class="bottom-40">
      <ul class="breadcrumbs breadcrumbs--with-dot">
        <li class="breadcrumbs__item">
          <a
            class="breadcrumbs__link"
            href="{% url 'administration:dashboard' %}"
            >{% translate "Dashboard" %}</a
          >
        </li>
        <li class="breadcrumbs__item breadcrumbs__item--active">
          {% translate "Articles" %}
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="heading heading--primary heading--center">
          <h2 class="heading__title no-margin-bottom">
            <span>{% translate "Add article" %}</span>
          </h2>
        </div>
        <div class="container my-3">
          {% include 'components/messages.html' with messages=messages %}
        </div>
        <form class="form" method="post">
          <div class="card card-body">
            {% include "components/form/hidden_fields.html" with hidden_fields=form.hidden_fields %}
            {{form.non_form_errors}}
            <div class="row">
              <div class="col-12 col-md-6 col-xl-4 bottom-20">
                <label class="form-label" for="{{ form.name.id_for_label }}"
                  >{{ form.name.label }}</label
                >
                {{form.name}} {{ form.name.errors }}
              </div>
              <div class="col-12 col-md-6 col-xl-4 bottom-20">
                <label class="form-label" for="{{ form.url.id_for_label }}"
                  >{{ form.url.label }}</label
                >
                {{form.url}} {{ form.url.errors }}
              </div>
              <div class="col-12 col-md-6 col-xl-4 bottom-20">
                <label class="form-label" for="{{ form.author.id_for_label }}"
                  >{{ form.author.label }}</label
                >
                {{form.author}} {{ form.author.errors }}
              </div>

              <div class="col-12 bottom-20 text-center">
                <button class="form__submit text_decoration-none" type="submit">
                  {% translate "Save" %}
                </button>
              </div>
            </div>
          </div>
          {% csrf_token %}
        </form>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xl-10">
        <h4 class="elements__title">{% translate "Articles" %}</h4>
      </div>
    </div>
    <div class="card card-body my-3">
      <div class="table-responsive">
        <table class="table align-middle table-striped table-hover">
          <thead class="table-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">{% translate "Name" %}</th>
              <th scope="col">{% translate "Author" %}</th>
              <th scope="col">{% translate "Operations" %}</th>
            </tr>
          </thead>
          <tbody>
            {% for article in articles %}
            <tr class="data-row">
              <td>{{article.id}}</td>
              <td>
                <a href="{{article.url}}" target="_blank">{{article.name}}</a>
              </td>
              <td>{{article.author}}</td>
              <td>
                <a
                  class="btn btn-warning"
                  href="{% url 'administration:article-update-delete' id=article.id %}"
                  >{% translate "Edit" %}</a
                >
                <button
                  type="button"
                  class="btn btn-danger btn-delete"
                  data-url="{% url 'administration:article-update-delete' id=article.id %}"
                >
                  {% translate "Delete" %}
                </button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

{% endblock content%} {% block scripts %}
<script>
  let csrftoken = "{{ csrf_token }}";
</script>
<script src="{% static 'js/delete-table-record.js' %}"></script>
{% endblock scripts %}
