{% extends 'app.html' %} {% load static %} {% block content %}
<section class="section">
  <div class="container py-5">
    <div class="row bottom-50">
      <div class="col-12 bottom-20">
        <div class="heading heading--primary heading--center">
          <h2 class="heading__title no-margin-bottom">
            <span>Edit - {{article.name}}</span>
          </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
        <form class="form" method="post" enctype="multipart/form-data">
          {{ form.media }}
          <div class="row">
            <div class="col-12 bottom-20">
              <label
                class="elements__subtitle fs-5"
                for="{{ form.name.id_for_label }}"
                >{{ form.name.label }}:</label
              >
              <input
                class="form__field"
                type="text"
                name="name"
                value="{{ form.name.value }}"
                placeholder="Your Name"
              />
              {{ form.name.errors }}
            </div>
            <div class="col-12 bottom-20">
              <label
                class="elements__subtitle fs-5"
                for="{{ form.url.id_for_label }}"
                >{{ form.url.label }}:</label
              >
              <input
                class="form__field"
                type="text"
                name="url"
                value="{{ form.url.value }}"
                placeholder="Article link"
              />
              {{ form.url.errors }}
            </div>
            <div class="col-12 bottom-20">
              <label
                class="elements__subtitle fs-5"
                for="{{ form.author.id_for_label }}"
                >{{ form.author.label }}:</label
              >
              <input
                class="form__field"
                type="text"
                name="author"
                value="{{ form.author.value }}"
                placeholder="Author"
              />
              {{ form.author.errors }}
            </div>

            <div class="col-12 bottom-20 text-center">
              <button class="form__submit" type="submit">Save</button>
            </div>
          </div>
          {% csrf_token %}
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock content%}
