{% extends 'shared/base_layout.html' %} 
{% load static %} 
{% load i18n %} 
{% block title %}{{site_visit.name}}{% endblock title %}
{% block meta_description %} {{site_visit.name}} {% endblock meta_description %} 

{% block content %}


{% with breadcrumb_image=site_visit.cover_image.url breadcrumb_title=site_visit.name %}
  {% include "shared/breadcrumb.html" with breadcrumb_menu=breadcrumb_menu breadcrumb_title=breadcrumb_title breadcrumb_image=breadcrumb_image %}
{% endwith %}

<div class="event-single py-120">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="event-details">
          <img loading="lazy" src="{% if site_visit.cover_image %}{{site_visit.cover_image.url}}{% endif %}" alt="{{site_visit.name}} {% translate 'cover image' %}" />
          <div class="my-4">
            <h3 class="mb-2">{{site_visit.name}}</h3>
            {{site_visit.description|safe}}
          </div>
        </div>
        {% include "activities/author.html" with author=author %}
      </div>
      <div class="col-lg-4">
        <aside class="sidebar">
          {% include "activities/components/search.html" with search_form=search_form %}
          {% include "activities/site_visits/recent_site_visit_list.html" with recent_site_visits=recent_site_visits %}
          {% include "activities/components/social_share.html" %}
        </aside>
      </div>
    </div>
  </div>
</div>

{% endblock content %}


      