{% extends 'shared/base_layout.html' %} 
{% load static %} 
{% load i18n %} 
{% block title %}{% translate "Site Visits" %}{% endblock title %}
{% block meta_description %} {% translate "Site Visits Meta Description" %} {% endblock meta_description %} 

{% block content %}

{% static "base/img/breadcrumb/01.jpg" as breadcrumb_image %}

{% with breadcrumb_title='Site Visits' %}
  {% include "shared/breadcrumb.html" with breadcrumb_menu=breadcrumb_menu breadcrumb_title=breadcrumb_title breadcrumb_image=breadcrumb_image %}
{% endwith %}

{% include "activities/site_visits/site_visit_list.html" with site_visits=site_visits %}

{% endblock content %}






