<div class="event-item">
  <div class="event-img">
    <img
      loading="lazy"
      src="{% if site_visit.cover_image %}{{site_visit.cover_image.url}}{% endif %}"
      alt="{{site_visit.name}} cover image"
    />
  </div>
  <div class="event-content">
    <a href="{{site_visit.get_absolute_url}}"
      ><h4 class="event-title">{{site_visit.name}}</h4></a
    >
    <ul class="event-list">
      <li>
        <i class="far fa-clock"></i> {{ site_visit.created_at|date:"d F, Y" }}
      </li>
    </ul>
    <p>{{site_visit.description|truncatewords:20}}</p>
  </div>
</div>
