{% extends 'app.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% translate "Projects" %}{% endblock title %}
{% block content %}
<section class="promo-primary">
    <picture>
        <source srcset="{% static 'img/projects.jpg' %}" media="(min-width: 992px)"/><img class="img--bg" src="{% static 'img/projects.jpg' %}" alt="img"/>
    </picture>
    <div class="container">
        <div class="row">
            <div class="col-auto">
                <div class="align-container">
                    <div class="align-container__item">
                        <h1 class="promo-primary__title"><span>{% translate "Projects" %}</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section blog">
    <div class="container">
        <div class="row">
            {% for project in projects %}
            <div class="col-12 col-md-6 col-xl-4">
                {% include "activities/project_component.html" with project=project %}
            </div>
            {% endfor %}

            <div class="col-12 text-center">
                {% include "inc/pagination.html" with pagination=projects %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}