{% extends 'app.html' %}
{% load i18n %}
{% load static %}
{% block title %}{{project.name}}{% endblock title %}
{% block content %}
<section class="promo-primary">
    <picture>
        <source srcset="{{project.cover_image.url}}" media="(min-width: 992px)"/><img class="img--bg" src="{{project.cover_image.url}}" alt="img"/>
    </picture>
    <div class="container">
        <div class="row">
            <div class="col-auto">
                <div class="align-container">
                    <div class="align-container__item"><span class="promo-primary__pre-title">{% translate "Project" %}</span>
                        <h1 class="promo-primary__title"><span>{{project.name}}</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section event-details">
    <div class="container">
        <div class="row ">
            <div class="col-md-10 offset-md-1 col-lg-9 offset-lg-1 col-xl-8 offset-xl-2">
                <div class="bottom-50">
                    {% include "inc/gallery.html" with items=project.project_images.all %}
                </div>
                <div>
                    {{project.project_attributes_result.description|safe}}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}