{% extends 'app.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% translate "Visits" %}{% endblock title %}
{% block content %}

{% with promo_image='img/site-visits-bg.jpg' promo_pre_title="" promo_title="Site Visits" %}
{% include "components/promo.html" with promo_image=promo_image promo_pre_title=promo_pre_title promo_title=promo_title %}
{% endwith %}

<section class="section">
    <div class="container">
        <div class="row offset-margin">
            {% for visit in visits %}
            <div class="col-md-6 col-xl-4">
                {% include "components/visit.html" with visit=visit %}
            </div>
            {% endfor %}
            
        </div>
        <div class="row top-70">
            <div class="col-12">
                {% include "components/pagination.html" with pagination=visits %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}