{% extends 'shared/base_layout.html' %} 
{% load static %} 
{% load i18n %} 
{% block title %}{{project.name}}{% endblock title %}
{% block meta_description %} {{project.name}} {% endblock meta_description %} 

{% block content %}

{% with breadcrumb_image=project.cover_image.url breadcrumb_title=project.name %}
  {% include "shared/breadcrumb.html" with breadcrumb_menu=breadcrumb_menu breadcrumb_title=breadcrumb_title breadcrumb_image=breadcrumb_image %}
{% endwith %}


<div class="blog-single-area pt-120 pb-120">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="blog-single-wrapper">
            <div class="blog-single-content">
              <div class="blog-thumb-img">
                <img loading="lazy" src="{% if project.cover_image %}{{project.cover_image.url}}{% endif %}" alt="{{project.name}} {% translate 'cover image' %}" />
              </div>
              <div class="blog-info">
                <div class="blog-details">
                  <h3 class="blog-details-title mb-20">
                    {{project.name}}
                  </h3>
                  {{project.description|safe}}
                </div>
                
                {% include "activities/author.html" with author=author %}

              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <aside class="sidebar">
            
            {% include "activities/components/search.html" with search_form=search_form %}

            {% include "activities/projects/recent_project_list.html" with recent_projects=recent_projects %}

            {% include "activities/components/social_share.html" %}

          </aside>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}


      



