{% extends 'shared/base_layout.html' %} 
{% load static %} 
{% load i18n %} 
{% block title %}{{project.name}}{% endblock title %}
{% block content %}


{% with breadcrumb_image='base/img/breadcrumb/01.jpg' breadcrumb_title=project.name %}
  {% include "shared/breadcrumb.html" with breadcrumb_menu=breadcrumb_menu breadcrumb_title=breadcrumb_title breadcrumb_image=breadcrumb_image %}
{% endwith %}

<div class="blog-single-area pt-120 pb-120">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="blog-single-wrapper">
            <div class="blog-single-content">
              <div class="blog-thumb-img">
                <img src="{% if project.cover_image %}{{project.cover_image.url}}{% endif %}" alt="{{project.name}} thumb" />
              </div>
              <div class="blog-info">
                <div class="blog-details">
                  <h3 class="blog-details-title mb-20">
                    {{project.name}}
                  </h3>
                  {{project.description}}
                </div>
                
                {% include "activities/author.html" with author=author %}

              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <aside class="sidebar">
            <div class="widget search">
              <h5 class="widget-title">Search</h5>
              <form action="{% url 'apps.home:search' %}" class="search-form">
                {{search_form.search}}
                <button type="submit"><i class="far fa-search"></i></button>
              </form>
            </div>

            <div class="widget recent-post">
              <h5 class="widget-title">{% translate "Recent Projects" %}</h5>
              {% for recent_project in recent_projects %}
              {% include "activities/projects/recent_project_list_item.html" with project=recent_project %}
              {% endfor %}
            </div>

            <div class="widget social-share">
              <h5 class="widget-title">{% translate "Follow Us" %}</h5>
              <div class="social-share-link">
                {% include "shared/social_links.html" with social_links=author.social_links %}
              </div>
            </div>

          </aside>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}


      



