{% extends 'shared/base_layout.html' %} 
{% load static %} 
{% load i18n %} 
{% block title %}{% translate "Projects" %}{% endblock title %}
{% block meta_description %} {% translate "Projects Meta Description" %} {% endblock meta_description %} 

{% block content %}

{% static "base/img/breadcrumb/01.jpg" as breadcrumb_image %}

{% with breadcrumb_title='Projects' %}
  {% include "shared/breadcrumb.html" with breadcrumb_menu=breadcrumb_menu breadcrumb_title=breadcrumb_title breadcrumb_image=breadcrumb_image %}
{% endwith %}

{% include "activities/projects/project_list.html" with projects=projects %}

{% endblock content %}
