<div class="blog-item">
  <div class="blog-item-img">
    <img
      src="{% if project.cover_image %}{{project.cover_image.url}}{% endif %}"
      alt="{{project.name}} cover image"
    />
  </div>
  <div class="blog-item-info">
    <div class="blog-item-meta">
      <ul>
        <li>
          <a
            href="{{project.get_absolute_url}}"
            ><i class="far fa-calendar-alt"></i>
            {{project.created_at|date: }}</a
          >
        </li>
      </ul>
    </div>
    <h4 class="blog-title">
      <a href="{{project.get_absolute_url}}"
        >{{project.name}}</a
      >
    </h4>
    <a
      class="blog-btn"
      href="{{project.get_absolute_url}}"
      >{% translate "Read More" %}<i class="far fa-arrow-right"></i
    ></a>
  </div>
</div>