{% extends 'shared/base_layout.html' %} 
{% load static %} 
{% load i18n %} 
{% block title %}{% translate "Bats" %}{% endblock title %} 
{% block meta_description %} {% translate "Bats Meta Description" %} {% endblock meta_description %} 

{% block content %}

{% static "base/img/breadcrumb/01.jpg" as breadcrumb_image %}

{% with breadcrumb_title='Bats' %}
{% include "shared/breadcrumb.html" with breadcrumb_menu=breadcrumb_menu breadcrumb_title=breadcrumb_title breadcrumb_image=breadcrumb_image %} 
{% endwith %}

<div class="animal-area2 py-120">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <div class="site-heading text-center">
          <h2 class="site-title">{% translate "Bats" %}</h2>
        </div>
      </div>
    </div>
    <div class="row">
      {% for bat in bats %}
      <div class="col-md-3">
        {% include "species/components/bat_list_item.html" with bat=bat %}
      </div>
      {% endfor %}
    </div>
    {% include "shared/pagination.html" with pagination=bats %}
  </div>
</div>

{% endblock content %}
