<div class="row">
  <div class="col-lg-4 col-md-6 col-12 d-lg-block">
    <div class="testimonials__img">
      <img class="img--bg" src="{{author.cover_image.url}}" alt="img" />
    </div>
  </div>
  <div class="col-lg-8 col-md-6 col-12">
    <div class="row align-items-center">
      <div class="col-md-7">
        <div class="heading heading--primary">
          <h2 class="heading__title">
            <span>{{author.author_attributes_result.name}}</span>
          </h2>
        </div>
      </div>
      <div class="col-md-5">
        <div
          class="testimonials--style-1__dots dots--style-2 text-md-right"
        ></div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="testimonials-slider testimonials-slider--style-1">
          <div class="testimonials-slider__item">
            <div class="testimonials-slider__text">
              {{author.author_attributes_result.description|safe}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>