{% extends 'app.html' %} {% load i18n %} {% load static %} {% block title %}{% translate "Articles" %}{% endblock title %} 
{% block content %}

{% with promo_image='img/articles-bg.jpg' promo_pre_title='' promo_title="Articles" %}
{% include "components/promo.html" with promo_image=promo_image promo_pre_title=promo_pre_title promo_title=promo_title %}
{% endwith %}

<section class="section no-padding-top">
  <div class="container py-5">
    <div class="row">
      {% for article in articles %}
        {% include "components/article.html" with article=article %}
      {% endfor %}
      <div class="col-12 text-center">
        {% include "components/pagination.html" with pagination=articles %}
      </div>
    </div>
  </div>
</section>
{% endblock content %}
