{% block 'content' %}
<!-- promo start-->
<section class="promo promo--front-3">
  <div class="promo-slider promo-slider--style-2">
    <div class="promo-slider__item promo-slider__item--style-2">
      <picture>
        <source srcset="img/front_3-promo-1.jpg" media="(min-width: 992px)" />
        <img class="img--bg" src="img/front_3-promo-1.jpg" alt="img" />
      </picture>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-xl-7">
            <div class="align-container">
              <div class="align-container__item">
                <div class="promo-slider__wrapper-1">
                  <h2 class="promo-slider__title">
                    <span>Fantastic</span><br /><span>Reptiles World</span>
                  </h2>
                </div>
                <div class="promo-slider__wrapper-2">
                  <p class="promo-slider__subtitle">
                    Animals World accreditation standards. Members are proactive
                    in both undertaking and applying animal welfare scientific
                    research, contributing
                  </p>
                </div>
                <div class="promo-slider__wrapper-3">
                  <a
                    class="button promo-slider__button button--primary button--green"
                    href="#"
                    >Discover</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="promo-slider__item promo-slider__item--style-2">
      <picture>
        <source srcset="img/front_3-promo-2.jpg" media="(min-width: 992px)" />
        <img class="img--bg" src="img/front_3-promo-2.jpg" alt="img" />
      </picture>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2 col-xl-6 offset-xl-6">
            <div class="align-container">
              <div class="align-container__item">
                <div class="promo-slider__wrapper-1">
                  <h2 class="promo-slider__title">
                    <span>Fantastic</span><br />
                    <span>Iguanas</span>
                  </h2>
                </div>
                <div class="promo-slider__wrapper-2">
                  <p class="promo-slider__subtitle">
                    Animals World accreditation standards. Members are proactive
                    in both undertaking and applying animal welfare scientific
                    research, contributing
                  </p>
                </div>
                <div class="promo-slider__wrapper-3">
                  <a
                    class="button promo-slider__button button--primary button--green"
                    href="#"
                    >Discover</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="promo-slider__item promo-slider__item--style-3">
      <picture>
        <source srcset="img/front_3-promo-3.jpg" media="(min-width: 992px)" />
        <img class="img--bg" src="img/front_3-promo-3.jpg" alt="img" />
      </picture>
      <div class="container">
        <div class="row">
          <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
            <div class="align-container">
              <div class="align-container__item"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- promo pannel start-->
        <div class="promo-pannel">
          <a
            class="video-trigger"
            href="https://www.youtube.com/watch?v=_sI_Ps7JSEk"
            ><img
              class="img--bg"
              src="img/video-block_3.jpg"
              alt="image" /><span class="video-trigger__icon"
              ><span>Live Cam</span
              ><i class="fa fa-play" aria-hidden="true"></i></span
          ></a>
          <div class="promo-pannel__details">
            <div class="promo-slider__nav dots--style-2"></div>
            <div class="promo-slider__count"></div>
          </div>
        </div>
        <!-- promo pannel end-->
      </div>
    </div>
  </div>
</section>
<!-- promo end-->
<!-- section start-->
<section class="section about-terrarium">
  <img
    class="img--aside t50 l0 w-33"
    src="img/about-terrarium_bg.png"
    alt="img"
  />
  <div class="container">
    <div class="row">
      <div class="col-xl-8 offset-xl-4">
        <div class="heading heading--style-2 heading--green">
          <span class="heading__pre-title">About terrarium</span>
          <h2 class="heading__title">
            <span>Fantastic</span> <span>terrarium</span>
          </h2>
        </div>
        <p>
          <strong
            >Ghost pipefish yellow bass New Zealand sand diver eulachon brook
            lamprey driftfish, Atlantic trout. Mudfish: blue eye, arrowtooth eel
            french angelfish yellowfin pike unicorn fish.</strong
          >
        </p>
        <p class="bottom-40">
          Rudderfish long-finned pike--razorfish menhaden paradise fish,
          barramundi oceanic flyingfish. Fangtooth yellowtail banded killifish
          seamoth triplefin blenny desert pupfish
        </p>
        <div class="row offset-30">
          <div class="col-sm-4">
            <div class="counter-item counter-item--front">
              <div class="counter-item__top">
                <h6 class="counter-item__title">Poaching cases</h6>
              </div>
              <div class="counter-item__lower">
                <span class="js-counter color--green">850</span>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="counter-item counter-item--front">
              <div class="counter-item__top">
                <h6 class="counter-item__title">Rescued animals</h6>
              </div>
              <div class="counter-item__lower">
                <span class="js-counter color--green">230</span>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="counter-item counter-item--front">
              <div class="counter-item__top">
                <h6 class="counter-item__title">Volunteers</h6>
              </div>
              <div class="counter-item__lower">
                <span class="js-counter color--green">160.000</span>
              </div>
            </div>
          </div>
        </div>
        <a class="button button--green top-40" href="#">More about</a>
      </div>
    </div>
  </div>
</section>
<!-- section end-->
<!-- section start-->
<section class="section no-padding-top no-padding-bottom">
  <div class="container">
    <div class="row align-items-end bottom-50">
      <div class="col-md-6">
        <div class="heading heading--style-2 heading--green">
          <span class="heading__pre-title">Our reptiles</span>
          <h2 class="heading__title no-margin-bottom">
            <span>Reptiles</span><br />
            <span>in our terrarium</span>
          </h2>
        </div>
      </div>
      <div class="col-md-6 text-md-right">
        <div class="fishes-slider__dots dots--style-2"></div>
      </div>
    </div>
  </div>
  <div class="slider-holder slider-holder--style-2">
    <div class="slider-holder__wrapper">
      <div class="fishes-slider">
        <div class="fishes-slider__item">
          <div class="text-box">
            <img class="img--bg" src="img/fishes_1.jpg" alt="img" />
            <div class="text-box__details">
              <span class="text-box__count">01</span>
              <h6 class="text-box__title">Lizards</h6>
              <div class="text-box__text">
                Fangtooth yellowtail banded killifish seamoth triplefin blenny
              </div>
            </div>
          </div>
        </div>
        <div class="fishes-slider__item">
          <div class="text-box">
            <img class="img--bg" src="img/fishes_2.jpg" alt="img" />
            <div class="text-box__details">
              <span class="text-box__count">02</span>
              <h6 class="text-box__title">Snakes</h6>
              <div class="text-box__text">
                Fangtooth yellowtail banded killifish seamoth triplefin blenny
              </div>
            </div>
          </div>
        </div>
        <div class="fishes-slider__item">
          <div class="text-box">
            <img class="img--bg" src="img/fishes_3.jpg" alt="img" />
            <div class="text-box__details">
              <span class="text-box__count">03</span>
              <h6 class="text-box__title">Turtles</h6>
              <div class="text-box__text">
                Fangtooth yellowtail banded killifish seamoth triplefin blenny
              </div>
            </div>
          </div>
        </div>
        <div class="fishes-slider__item">
          <div class="text-box">
            <img class="img--bg" src="img/fishes_4.jpg" alt="img" />
            <div class="text-box__details">
              <span class="text-box__count">04</span>
              <h6 class="text-box__title">Crocodiles</h6>
              <div class="text-box__text">
                Fangtooth yellowtail banded killifish seamoth triplefin blenny
              </div>
            </div>
          </div>
        </div>
        <div class="fishes-slider__item">
          <div class="text-box">
            <img class="img--bg" src="img/fishes_5.jpg" alt="img" />
            <div class="text-box__details">
              <span class="text-box__count">05</span>
              <h6 class="text-box__title">Frogs</h6>
              <div class="text-box__text">
                Fangtooth yellowtail banded killifish seamoth triplefin blenny
              </div>
            </div>
          </div>
        </div>
        <div class="fishes-slider__item">
          <div class="text-box">
            <img class="img--bg" src="img/fishes_3.jpg" alt="img" />
            <div class="text-box__details">
              <span class="text-box__count">06</span>
              <h6 class="text-box__title">Spiders</h6>
              <div class="text-box__text">
                Fangtooth yellowtail banded killifish seamoth triplefin blenny
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- section end-->
<!-- section start-->
<section class="section text-section no-padding-bottom d-none d-lg-block">
  <div class="container">
    <div class="row">
      <div class="col-12 text-right">
        <h1 class="text-section__title"><span>Best</span>Terrarium</h1>
        <p class="text-section__text">in Whole Animals World</p>
      </div>
    </div>
  </div>
</section>
<!-- section end-->
<!-- gallery start-->
<section class="section gallery no-padding-bottom">
  <div class="container">
    <div class="row bottom-50 align-items-end">
      <div class="col-lg-6">
        <div class="heading heading--style-2 heading--green">
          <span class="heading__pre-title">Our gallery</span>
          <h2 class="heading__title no-margin-bottom">
            <span>Gallery</span><br />
            <span>of our terrarium</span>
          </h2>
        </div>
      </div>
      <div class="col-lg-6 text-right d-none d-lg-block">
        <!-- filter panel start-->
        <ul class="filter-panel filter-panel--style-2 justify-content-end">
          <li
            class="filter-panel__item filter-panel__item--active"
            data-filter="*"
          >
            <span>All</span>
          </li>
          <li class="filter-panel__item" data-filter=".category_2">
            <span>Snake</span>
          </li>
          <li class="filter-panel__item" data-filter=".category_3">
            <span>Lizard</span>
          </li>
          <li class="filter-panel__item" data-filter=".category_4">
            <span>Turtle</span>
          </li>
          <li class="filter-panel__item" data-filter=".category_5">
            <span>Chameleon</span>
          </li>
        </ul>
        <!-- filter panel end-->
      </div>
    </div>
  </div>
  <div class="row no-gutters gallery-masonry">
    <div
      class="category_2 col-sm-6 col-md-3 gallery-masonry__item gallery-masonry__item--green"
    >
      <a
        class="gallery-masonry__img gallery-masonry__item--height-1"
        href="img/gallery_18.jpg"
        data-fancybox="gallery"
        ><img class="img--bg" src="img/gallery_18.jpg" alt="img" />
        <div class="gallery-masonry__description">
          <span>Mamals</span><span>Giraffes</span>
        </div></a
      >
    </div>
    <div
      class="category_2 col-sm-6 col-md-6 gallery-masonry__item gallery-masonry__item--green"
    >
      <a
        class="gallery-masonry__img gallery-masonry__item--height-2"
        href="img/gallery_19.jpg"
        data-fancybox="gallery"
        ><img class="img--bg" src="img/gallery_19.jpg" alt="img" />
        <div class="gallery-masonry__description">
          <span>Mamals</span><span>Lions</span>
        </div></a
      >
    </div>
    <div
      class="category_3 col-sm-6 col-md-3 gallery-masonry__item gallery-masonry__item--green"
    >
      <a
        class="gallery-masonry__img gallery-masonry__item--height-3"
        href="img/gallery_20.jpg"
        data-fancybox="gallery"
        ><img class="img--bg" src="img/gallery_20.jpg" alt="img" />
        <div class="gallery-masonry__description">
          <span>Birds</span><span>Parrots</span>
        </div></a
      >
    </div>
    <div
      class="category_3 col-sm-6 col-md-3 gallery-masonry__item gallery-masonry__item--green"
    >
      <a
        class="gallery-masonry__img gallery-masonry__item--height-1"
        href="img/gallery_21.jpg"
        data-fancybox="gallery"
        ><img class="img--bg" src="img/gallery_21.jpg" alt="img" />
        <div class="gallery-masonry__description">
          <span>Reptiles</span><span>Lizards</span>
        </div></a
      >
    </div>
    <div
      class="category_4 col-sm-6 col-md-3 gallery-masonry__item gallery-masonry__item--green"
    >
      <a
        class="gallery-masonry__img gallery-masonry__item--height-1"
        href="img/gallery_22.jpg"
        data-fancybox="gallery"
        ><img class="img--bg" src="img/gallery_22.jpg" alt="img" />
        <div class="gallery-masonry__description">
          <span>Fishes</span><span>Clown</span>
        </div></a
      >
    </div>
    <div
      class="category_4 col-sm-6 col-md-3 gallery-masonry__item gallery-masonry__item--green"
    >
      <a
        class="gallery-masonry__img gallery-masonry__item--height-1"
        href="img/gallery_23.jpg"
        data-fancybox="gallery"
        ><img class="img--bg" src="img/gallery_23.jpg" alt="img" />
        <div class="gallery-masonry__description">
          <span>Mamals</span><span>Monkeys</span>
        </div></a
      >
    </div>
    <div
      class="category_5 col-sm-6 col-md-6 gallery-masonry__item gallery-masonry__item--green"
    >
      <a
        class="gallery-masonry__img gallery-masonry__item--height-4"
        href="img/gallery_24.jpg"
        data-fancybox="gallery"
        ><img class="img--bg" src="img/gallery_24.jpg" alt="img" />
        <div class="gallery-masonry__description">
          <span>Mamals</span><span>Elephants</span>
        </div></a
      >
    </div>
  </div>
</section>

<section
  class="section donation donation--style-2 no-padding-bottom no-padding-top"
>
  <div class="container bottom-50">
    <div class="row align-items-end">
      <div class="col-lg-8">
        <div class="heading heading--style-2 heading--green">
          <span class="heading__pre-title">Donation</span>
          <h2 class="heading__title no-margin-bottom">
            <span>Help our</span> <span>reptiles</span>
          </h2>
        </div>
      </div>
      <div class="col-lg-4 text-lg-right">
        <div class="donation-slider__dots dots--style-2"></div>
      </div>
    </div>
  </div>
  <div class="slider-holder bottom-50">
    <div class="slider-holder__wrapper">
      <div class="donation-slider">
        <div class="donation-slider__item">
          <div class="donate-box donate-box--green">
            <img class="img--bg" src="img/donation_4.jpg" alt="img" />
            <div class="donate-box__inner">
              <div class="heading">
                <span class="heading__pre-title">Donation</span>
                <h2 class="heading__title no-margin-bottom">
                  <span>Help us more</span> <br />
                  <span>protect animals</span>
                </h2>
              </div>
              <p>
                Fangtooth yellowtail banded killifish seamoth triplefin blenny
                Rudderfish longfinned pikrazorfish menhaden
              </p>
              <a class="donate-box__link" href="#">Donate !</a>
            </div>
          </div>
        </div>
        <div class="donation-slider__item">
          <div class="donate-box donate-box--green">
            <img class="img--bg" src="img/donation_5.jpg" alt="img" />
            <div class="donate-box__inner">
              <div class="heading">
                <span class="heading__pre-title">Donation</span>
                <h2 class="heading__title no-margin-bottom">
                  <span>Help us more</span> <br />
                  <span>protect animals</span>
                </h2>
              </div>
              <p>
                Fangtooth yellowtail banded killifish seamoth triplefin blenny
                Rudderfish longfinned pikrazorfish menhaden
              </p>
              <a class="donate-box__link" href="#">Donate !</a>
            </div>
          </div>
        </div>
        <div class="donation-slider__item">
          <div class="donate-box donate-box--green">
            <img class="img--bg" src="img/donation_6.jpg" alt="img" />
            <div class="donate-box__inner">
              <div class="heading">
                <span class="heading__pre-title">Donation</span>
                <h2 class="heading__title no-margin-bottom">
                  <span>Help us more</span> <br />
                  <span>protect animals</span>
                </h2>
              </div>
              <p>
                Fangtooth yellowtail banded killifish seamoth triplefin blenny
                Rudderfish longfinned pikrazorfish menhaden
              </p>
              <a class="donate-box__link" href="#">Donate !</a>
            </div>
          </div>
        </div>
        <div class="donation-slider__item">
          <div class="donate-box donate-box--green">
            <img class="img--bg" src="img/donation_4.jpg" alt="img" />
            <div class="donate-box__inner">
              <div class="heading">
                <span class="heading__pre-title">Donation</span>
                <h2 class="heading__title no-margin-bottom">
                  <span>Help us more</span> <br />
                  <span>protect animals</span>
                </h2>
              </div>
              <p>
                Fangtooth yellowtail banded killifish seamoth triplefin blenny
                Rudderfish longfinned pikrazorfish menhaden
              </p>
              <a class="donate-box__link" href="#">Donate !</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12">
        <a class="button button--green" href="#">All donation</a>
      </div>
    </div>
  </div>
</section>
<!-- section end-->
<!-- section start-->
<section class="section testimonials testimonials--style-1 testimonials--green">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 d-none d-lg-block">
        <div class="testimonials__img">
          <img class="img--bg" src="img/man.jpg" alt="img" />
        </div>
      </div>
      <div class="col-lg-9">
        <div class="row align-items-center">
          <div class="col-md-7">
            <div class="heading heading--primary">
              <span class="heading__pre-title">Testimonials</span>
              <h2 class="heading__title">
                <span
                  >What People<br />
                  Says</span
                >
                <span>About Us</span>
              </h2>
            </div>
          </div>
          <div class="col-md-5">
            <div
              class="testimonials--style-1__dots dots--style-2 text-md-right"
            ></div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="testimonials-slider testimonials-slider--style-1">
              <div class="testimonials-slider__item">
                <div class="testimonials-slider__text">
                  <p>
                    Rudderfish long-finned pikerazorfish menhaden paradise fish,
                    barramundi oceanic flyingfish. Fangtooth yellowtail banded
                    killifish seamoth triplefin blenny desert pupfish crocodile
                    shark catfish cutlassfish broadband dogfish whalefish.
                  </p>
                </div>
                <div class="testimonials-slider__details">
                  <span class="testimonials-slider__name">John Maclein</span>
                </div>
              </div>
              <div class="testimonials-slider__item">
                <div class="testimonials-slider__text">
                  <p>
                    Rudderfish long-finned pikerazorfish menhaden paradise fish,
                    barramundi oceanic flyingfish. Fangtooth yellowtail banded
                    killifish seamoth triplefin blenny desert pupfish crocodile
                    shark catfish cutlassfish broadband dogfish whalefish.
                  </p>
                  <p>
                    Rudderfish long-finned pikerazorfish menhaden paradise fish,
                    barramundi oceanic flyingfish. Fangtooth yellowtail banded
                    killifish seamoth triplefin blenny desert pupfish crocodile
                    shark catfish cutlassfish broadband dogfish whalefish.
                  </p>
                </div>
                <div class="testimonials-slider__details">
                  <span class="testimonials-slider__name">John Maclein</span>
                </div>
              </div>
              <div class="testimonials-slider__item">
                <div class="testimonials-slider__text">
                  <p>
                    Rudderfish long-finned pikerazorfish menhaden paradise fish,
                    barramundi oceanic flyingfish. Fangtooth yellowtail banded
                    killifish seamoth triplefin blenny desert pupfish crocodile
                    shark catfish cutlassfish broadband dogfish whalefish.
                  </p>
                  <p>
                    Rudderfish long-finned pikerazorfish menhaden paradise fish,
                    barramundi oceanic flyingfish. Fangtooth yellowtail banded
                    killifish seamoth triplefin blenny desert pupfish crocodile
                    shark catfish cutlassfish broadband dogfish whalefish.
                  </p>
                  <p>
                    Rudderfish long-finned pikerazorfish menhaden paradise fish,
                    barramundi oceanic flyingfish. Fangtooth yellowtail banded
                    killifish seamoth triplefin blenny desert pupfish crocodile
                    shark catfish cutlassfish broadband dogfish whalefish.
                  </p>
                </div>
                <div class="testimonials-slider__details">
                  <span class="testimonials-slider__name">John Maclein</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- section end-->
<!-- section start-->
<section class="section events-carousel no-padding-bottom">
  <img class="events-carousel__bg" src="img/skin-bg.jpg" alt="bg" />
  <div class="container">
    <div class="row bottom-50 align-items-end">
      <div class="col-lg-8">
        <div class="heading heading--style-2 heading--green">
          <span class="heading__pre-title">Events</span>
          <h2 class="heading__title no-margin-bottom">
            <span>What’s</span> <span>coming up?</span>
          </h2>
        </div>
      </div>
      <div class="col-lg-4">
        <div
          class="destination-slider__dots dots--style-2 text-left text-lg-right"
        ></div>
      </div>
    </div>
  </div>
  <div class="slider-holder">
    <div class="slider-holder__wrapper">
      <div class="destination-slider">
        <div class="destination-slider__item">
          <div class="destination-item destination-item--style-2">
            <img class="img--bg" src="img/events-sl_1.jpg" alt="img" />
            <div class="destination-item__count">
              <span>01</span><span>nov</span>
            </div>
            <div class="destination-item__details">
              <span class="destination-item__day">Tuesday</span>
              <h6 class="destination-item__title">Bostwana</h6>
              <a class="destination-item__link" href="#">Read more</a>
            </div>
          </div>
        </div>
        <div class="destination-slider__item">
          <div class="destination-item destination-item--style-2">
            <img class="img--bg" src="img/events-sl_2.jpg" alt="img" />
            <div class="destination-item__count">
              <span>13</span><span>nov</span>
            </div>
            <div class="destination-item__details">
              <span class="destination-item__day">Tuesday</span>
              <h6 class="destination-item__title">Kenya</h6>
              <a class="destination-item__link" href="#">Read more</a>
            </div>
          </div>
        </div>
        <div class="destination-slider__item">
          <div class="destination-item destination-item--style-2">
            <img class="img--bg" src="img/events-sl_3.jpg" alt="img" />
            <div class="destination-item__count">
              <span>13</span><span>nov</span>
            </div>
            <div class="destination-item__details">
              <span class="destination-item__day">Tuesday</span>
              <h6 class="destination-item__title">South Africa</h6>
              <a class="destination-item__link" href="#">Read more</a>
            </div>
          </div>
        </div>
        <div class="destination-slider__item">
          <div class="destination-item destination-item--style-2">
            <img class="img--bg" src="img/events-sl_4.jpg" alt="img" />
            <div class="destination-item__count">
              <span>14</span><span>nov</span>
            </div>
            <div class="destination-item__details">
              <span class="destination-item__day">Tuesday</span>
              <h6 class="destination-item__title">Uganda</h6>
              <a class="destination-item__link" href="#">Read more</a>
            </div>
          </div>
        </div>
        <div class="destination-slider__item">
          <div class="destination-item destination-item--style-2">
            <img class="img--bg" src="img/events-sl_5.jpg" alt="img" />
            <div class="destination-item__count">
              <span>15</span><span>nov</span>
            </div>
            <div class="destination-item__details">
              <span class="destination-item__day">Tuesday</span>
              <h6 class="destination-item__title">Tanzania</h6>
              <a class="destination-item__link" href="#">Read more</a>
            </div>
          </div>
        </div>
        <div class="destination-slider__item">
          <div class="destination-item destination-item--style-2">
            <img class="img--bg" src="img/events-sl_1.jpg" alt="img" />
            <div class="destination-item__count">
              <span>01</span><span>nov</span>
            </div>
            <div class="destination-item__details">
              <span class="destination-item__day">Tuesday</span>
              <h6 class="destination-item__title">Bostwana</h6>
              <a class="destination-item__link" href="#">Read more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- section end-->
<!-- section start-->
<section class="section">
  <div class="container">
    <div class="row bottom-50">
      <div class="col-12">
        <div class="heading heading--primary heading--center">
          <span class="heading__pre-title">Our partners</span>
          <h2 class="heading__title no-margin-bottom">
            <span>People Who</span> <span>Trust Us</span>
          </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="logos-slider">
          <div class="logos-slider__item">
            <img src="img/logo_1.png" alt="logo" />
          </div>
          <div class="logos-slider__item">
            <img src="img/logo_2.png" alt="logo" />
          </div>
          <div class="logos-slider__item">
            <img src="img/logo_3.png" alt="logo" />
          </div>
          <div class="logos-slider__item">
            <img src="img/logo_4.png" alt="logo" />
          </div>
          <div class="logos-slider__item">
            <img src="img/logo_5.png" alt="logo" />
          </div>
        </div>
        <div class="logos-slider__dots dots--style-2"></div>
      </div>
    </div>
  </div>
</section>

{% endblock 'content' %}
