{% extends 'app.html' %} 
{% load static %} 
{% load i18n %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
{% endblock stylesheet %} 
{% block content %}
<section class="section elements">
  <div class="container py-5">
    <div class="row">
      <div class="col-xl-10">
        <h4 class="elements__title">{% translate "Site Visits" %}</h4>
        <a class="form__submit text_decoration-none" href="{% url 'administration:visit-create'%}"
          >{% translate "Add site visit" %}</a
        >
      </div>
    </div>
    <div class="card card-body my-3">
      <div class="table-responsive">
        <table class="table align-middle table-striped table-hover">
          <thead class="table-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">{% translate "Name" %}</th>
              <th scope="col">{% translate "Operations" %}</th>
            </tr>
          </thead>
          <tbody>
            {% for visit in visits %}
            <tr class="data-row">
              <td>{{visit.id}}</td>
              <td>{{visit.name}}</td>
              <td>
                <a
                  class="btn btn-warning"
                  href="{% url 'administration:visit-update-delete' id=visit.id %}"
                  >{% translate "Edit" %}</a
                >
                <button
                  type="button"
                  class="btn btn-danger btn-delete"
                  data-url="{% url 'administration:visit-update-delete' id=visit.id %}"
                  >{% translate "Delete" %}</button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
{% endblock content%}

{% block scripts %}
<script>
  let csrftoken = '{{ csrf_token }}'
</script>
<script src="{% static 'js/delete-table-record.js' %}"></script>
{% endblock scripts %}