<footer class="footer footer--front-3">
  <div class="container">
    <div class="row bottom-50">
      <div class="col-md-6 col-lg-4">
        <a class="logo logo--footer" href="index.html"
          ><img class="logo__img" src="img/logo_terrarium.png" alt="logo"
        /></a>
        <div class="footer__details">
          <p>
            <strong>Location:</strong>
            <span>av. Washington 165, NY CA 54003</span>
          </p>
          <p>
            <strong>Phone:</strong>
            <a href="tel:+31859644725">+31 85 964 47 25</a>
            <a href="tel:+31859644725">+31 65 792 63 11</a>
          </p>
          <p>
            <strong>Email:</strong>
            <a href="mailto:info@animalsworld.com">info@animalsworld.com</a>
          </p>
        </div>
        <ul class="socials bottom-30">
          <li class="socials__item">
            <a class="socials__link" href="#"
              ><i class="fa fa-facebook" aria-hidden="true"></i
            ></a>
          </li>
          <li class="socials__item">
            <a class="socials__link" href="#"
              ><i class="fa fa-twitter" aria-hidden="true"></i
            ></a>
          </li>
          <li class="socials__item">
            <a class="socials__link" href="#"
              ><i class="fa fa-youtube-play" aria-hidden="true"></i
            ></a>
          </li>
          <li class="socials__item">
            <a class="socials__link" href="#"
              ><i class="fa fa-instagram" aria-hidden="true"></i
            ></a>
          </li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-3">
        <h6 class="footer__title">Working hours</h6>
        <ul class="footer__schedule">
          <li><span>Monday</span><span>9:00am-6:00pm</span></li>
          <li><span>Tuesday</span><span>9:00am-6:00pm</span></li>
          <li><span>Wednesday</span><span>9:00am-6:00pm</span></li>
          <li><span>Thursday</span><span>9:00am-6:00pm</span></li>
          <li><span>Friday</span><span>9:00am-6:00pm</span></li>
          <li><span>Saturday</span><span>10:00am-0:00pm</span></li>
          <li><span>Sunday</span><span>Closed</span></li>
        </ul>
      </div>
      <div class="col-lg-2 d-none d-lg-block">
        <h6 class="footer__title">Menu</h6>
        <ul class="footer-menu footer-menu--style-2">
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="#">Home</a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="#">Pages</a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="#">Animals</a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="#">Gallery</a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="#">Blog</a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="#">Contacts</a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="#">Elements</a>
          </li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-3">
        <h6 class="footer__title">Newsletter</h6>
        <form class="form newsletter-form" action="javascript:void(0);">
          <input
            class="form__field"
            type="text"
            name="name"
            placeholder="Your name"
          />
          <input
            class="form__field"
            type="email"
            name="email"
            placeholder="Your E-mail"
          />
          <input class="form__submit" type="submit" value="Subscribe" />
        </form>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-sm-6 text-center text-sm-left">
        <div class="footer-privacy">
          <a class="footer-privacy__link" href="#">Privacy Policy</a
          ><span class="footer-privacy__divider">|</span
          ><a class="footer-privacy__link" href="#">Term and Condision</a>
        </div>
      </div>
      <div class="col-sm-6 text-center text-sm-right">
        <a class="footer__link" href="#"
          ><img src="img/footer-logo.png" alt="logo"
        /></a>
      </div>
    </div>
  </div>
</footer>
