{% load static %}
{% load i18n %}

<footer class="footer footer--front-3">
  <div class="container">
    <div class="row bottom-50">
      <div class="col-md-6 col-lg-4">
        <a class="logo logo--footer" href="index.html"
          ><img
            class="logo__img"
            src="{% static 'img/logo.png' %}"
            alt="logo"
        /></a>
        <div class="footer__details">
          <p>
            <strong>{% translate "Phone" %}:</strong>
            <a href="tel:{{config_vars.phone}}">{{config_vars.phone}}</a>
          </p>
          <p>
            <strong>{% translate "Email" %}:</strong>
            <a href="mailto:{{config_vars.email}}">{{config_vars.email}}</a>
          </p>
        </div>
        <ul class="socials bottom-30">
          <li class="socials__item">
            <a class="socials__link" href="#"
              ><i class="fa fa-facebook" aria-hidden="true"></i
            ></a>
          </li>
          <li class="socials__item">
            <a class="socials__link" href="#"
              ><i class="fa fa-twitter" aria-hidden="true"></i
            ></a>
          </li>
          <li class="socials__item">
            <a class="socials__link" href="#"
              ><i class="fa fa-youtube-play" aria-hidden="true"></i
            ></a>
          </li>
          <li class="socials__item">
            <a class="socials__link" href="#"
              ><i class="fa fa-instagram" aria-hidden="true"></i
            ></a>
          </li>
        </ul>
      </div>
      <div class="col-lg-5 d-none d-lg-block">
        <h6 class="footer__title">{% translate "Menu" %}</h6>
        <ul class="footer-menu footer-menu--style-2">
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="{% url 'base:index' %}">{% translate "Home" %}</a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="{% url 'bats:index' %}">{% translate "Bats" %}</a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="{% url 'activities:projects' %}">{% translate "Projects" %}</a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="{% url 'activities:visits' %}">{% translate "Site Visits" %}</a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="{% url 'base:articles' %}">{% translate "Articles" %}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
