{% load static %}
{% load i18n %}
{% load query_transform %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages%}

<header class="header shop-header header-f3">
  <div class="header__lower">
    <div class="row">
      <div class="col-12 d-flex align-items-center justify-content-between">
        <div class="header__lower-inner">
          <ul class="lang-select">
            <li class="lang-select__item lang-select__item--active">
              <span>{{LANGUAGE_CODE|upper}}</span>
              <ul class="lang-select__sub-list">
                {% for lang in languages %}
                <li><a href="/{{ lang.code }}{{ request.get_full_path|slice:'3:' }}">
                  {{lang.code|upper}}
                </a></li>
                {% endfor %}
              </ul>
            </li>
          </ul>
          <div class="header__phones d-none d-xl-block">
            {% translate "Phone" %}: <a href="tel:{{config_vars.phone}}">{{config_vars.phone}}</a>
          </div>
        </div>
        <div class="header__lower-inner d-none d-xl-block">
          <ul class="header__socials">
            <li>
              <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"
                ><i class="fa fa-youtube-play" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="header__top">
    <div class="row align-items-center">
      <div class="col-6 col-lg-3">
        <a class="logo" href="{% url 'base:index' %}"
          ><img
            class="logo__img"
            src="{% static 'img/logo_terrarium.png' %}"
            alt="logo"
        /></a>
      </div>
      <div class="col-6 col-lg-9 d-flex justify-content-end align-items-center">
        <ul class="main-menu">
          <li class="main-menu__item"><a class="main-menu__link" href="{% url 'bats:index' %}"><span>{% translate "Bats" %}</span></a></li>
          <li class="main-menu__item main-menu__item--has-child">
            <a class="main-menu__link" href="javascript:void(0);"
              ><span>{% translate "Activities" %}</span></a
            >
            <ul class="main-menu__sub-list sub-list--style-2">
                <li>
                  <a href="{% url 'activities:projects' %}"><span>{% translate "Projects" %}</span></a>
                </li>
                <li>
                  <a href="{% url 'activities:visits' %}"><span>{% translate "Site Visits" %}</span></a>
                </li>
            </ul>
          </li>
          <li class="main-menu__item"><a class="main-menu__link" href="{% url 'base:articles' %}"><span>{% translate "Articles" %}</span></a></li>

          {% if user.is_authenticated %}
          <li class="main-menu__item main-menu__item--has-child">
            <a class="main-menu__link" href="javascript:void(0);"
              ><span>{% translate "Admin" %}</span></a
            >
            <ul class="main-menu__sub-list sub-list--style-2">
                {% for item in admin_nav %}
                <li>
                  <a href="{% url item.route %}"><span>{{item.text}}</span></a>
                </li>
                {% endfor %}
            </ul>
          </li>
          {% endif %}
          <form class="search-form" action="{% url 'base:search' %}">
            <input class="search-form__input" type="search" name="search" placeholder="{% translate "Search" %}"/>
            <button class="search-form__submit" type="submit">
              <svg class="icon">
                <use xlink:href="#search"></use>
              </svg>
            </button>
          </form>
        </ul>
          
        <div class="hamburger">
          <div class="hamburger-box">
            <div class="hamburger-inner"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
