{% load static %}
<!-- header start-->
<header class="header shop-header header-f3">
  <div class="header__lower">
    <div class="row">
      <div class="col-12 d-flex align-items-center justify-content-between">
        <div class="header__lower-inner">
          <!-- lang select start-->
          <ul class="lang-select">
            <li class="lang-select__item lang-select__item--active">
              <span>English</span>
              <ul class="lang-select__sub-list">
                <li><a href="#">French</a></li>
                <li><a href="#">Spanish</a></li>
                <li><a href="#">Deutsch</a></li>
                <li><a href="#">Russian</a></li>
              </ul>
            </li>
          </ul>
          <!-- lang select end-->
          <div class="header__phones d-none d-xl-block">
            Phone: <a href="tel:+31859644725">+31 85 964 47 25</a>
            <a href="tel:+31657926311">+31 65 792 63 11</a>
          </div>
        </div>
        <div class="header__lower-inner d-none d-xl-block">
          <ul class="header__socials">
            <li>
              <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"
                ><i class="fa fa-youtube-play" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="header__top">
    <div class="row align-items-center">
      <div class="col-6 col-lg-3">
        <a class="logo" href="index.html"
          ><img
            class="logo__img"
            src="{% static 'img/logo_terrarium.png' %}"
            alt="logo"
        /></a>
      </div>
      <div class="col-6 col-lg-9 d-flex justify-content-end align-items-center">
        <!-- main menu start-->
        <ul class="main-menu">
          <li
            class="main-menu__item main-menu__item--has-child main-menu__item--active"
          >
            <a class="main-menu__link" href="javascript:void(0);"
              ><span>Home</span></a
            >
            <!-- sub menu start-->
            <ul class="main-menu__sub-list">
              <li>
                <a href="index.html"><span>Home Zoo</span></a>
              </li>
              <li>
                <a href="front_2.html"> <span>Home Aquarium</span></a>
              </li>
              <li class="item--active">
                <a href="front_3.html"><span>Home Terrarium</span></a>
              </li>
              <li>
                <a href="front_4.html"><span>Home Animal Protections</span></a>
              </li>
              <li>
                <a href="front_5.html"><span>Home Safari</span></a>
              </li>
              <li>
                <a href="front_6.html"><span>Home Shop</span></a>
              </li>
            </ul>
            <!-- sub menu end-->
          </li>
          <li class="main-menu__item main-menu__item--has-child">
            <a class="main-menu__link" href="javascript:void(0);"
              ><span>Pages</span></a
            >
            <!-- sub menu start-->
            <ul class="main-menu__sub-list sub-list--style-2">
              <li>
                <a href="about.html"><span>About</span></a>
              </li>
              <li>
                <a href="services.html"><span>Services</span></a>
              </li>
              <li>
                <a href="blog-details.html"><span>Blog Details</span></a>
              </li>
              <li>
                <a href="gallery.html"><span>Gallery</span></a>
              </li>
              <li>
                <a href="gallery_2.html"><span>Gallery v.2</span></a>
              </li>
              <li>
                <a href="calendar.html"><span>Calendar</span></a>
              </li>
              <li>
                <a href="membership.html"><span>Membership</span></a>
              </li>
              <li>
                <a href="events.html"><span>Events</span></a>
              </li>
              <li>
                <a href="event-details.html"><span>Event Details</span></a>
              </li>
              <li>
                <a href="tickets.html"><span>Tickets</span></a>
              </li>
              <li>
                <a href="foundation.html"><span>Foundation</span></a>
              </li>
              <li>
                <a href="education.html"><span>Education</span></a>
              </li>
              <li>
                <a href="donation.html"><span>Donation</span></a>
              </li>
              <li>
                <a href="donation-details.html"
                  ><span>Donation Details</span></a
                >
              </li>
              <li>
                <a href="animals.html"> <span>Animals</span></a>
              </li>
              <li>
                <a href="animal-details.html"> <span>Animal Details</span></a>
              </li>
              <li>
                <a href="safari-tours.html"> <span>Safari Tours</span></a>
              </li>
              <li>
                <a href="tour-details.html"> <span>Tour Details</span></a>
              </li>
              <li>
                <a href="typography.html"> <span>Typography</span></a>
              </li>
              <li>
                <a href="faq.html"><span>FAQ</span></a>
              </li>
              <li>
                <a href="map.html"><span>Map</span></a>
              </li>
              <li>
                <a href="404.html"><span>404 Page</span></a>
              </li>
            </ul>
            <!-- sub menu end-->
          </li>
          <li class="main-menu__item">
            <a class="main-menu__link" href="blog.html"><span>Blog</span></a>
          </li>
          <li class="main-menu__item main-menu__item--has-child">
            <a class="main-menu__link" href="javascript:void(0);"
              ><span>Shop</span></a
            >
            <!-- sub menu start-->
            <ul class="main-menu__sub-list">
              <li>
                <a href="shop-catalog.html"><span>Shop Catalog</span></a>
              </li>
              <li>
                <a href="shop-product.html"><span>Shop Product</span></a>
              </li>
              <li>
                <a href="shop-cart.html"><span>Shop Cart</span></a>
              </li>
              <li>
                <a href="shop-checkout.html"><span>Shop Checkout</span></a>
              </li>
              <li>
                <a href="shop-account.html"><span>Shop Account</span></a>
              </li>
            </ul>
            <!-- sub menu end-->
          </li>
          <li class="main-menu__item">
            <a class="main-menu__link" href="contacts.html"
              ><span>Contacts</span></a
            >
          </li>
          <li class="main-menu__item main-menu__item--has-child">
            <a class="main-menu__link" href="javascript:void(0);"
              ><span>Elements</span></a
            >
            <!-- sub menu start-->
            <ul class="main-menu__sub-list sub-list--style-2">
              <li>
                <a href="accordion.html"><span>Accordion</span></a>
              </li>
              <li>
                <a href="charts.html"><span>Charts</span></a>
              </li>
              <li>
                <a href="alerts.html"><span>Alerts</span></a>
              </li>
              <li>
                <a href="counters.html"><span>Counters</span></a>
              </li>
              <li>
                <a href="logos.html"><span>Logos</span></a>
              </li>
              <li>
                <a href="forms.html"><span>Forms</span></a>
              </li>
              <li>
                <a href="tabs.html"><span>Tabs</span></a>
              </li>
              <li>
                <a href="buttons.html"><span>Buttons</span></a>
              </li>
              <li>
                <a href="paginations.html"><span>Paginations</span></a>
              </li>
              <li>
                <a href="team.html"><span>Team</span></a>
              </li>
              <li>
                <a href="breadcrumbs.html"><span>Bread Crumbs</span></a>
              </li>
              <li>
                <a href="icon-list.html"><span>Icon List</span></a>
              </li>
              <li>
                <a href="pricing-tables.html"><span>Pricing Tables</span></a>
              </li>
              <li>
                <a href="testimonials.html"><span>Testimonials</span></a>
              </li>
            </ul>
            <!-- sub menu end-->
          </li>
        </ul>
        <!-- main menu end--><a class="header__button" href="#">Tickets</a>
        <!-- menu-trigger start-->
        <div class="hamburger">
          <div class="hamburger-box">
            <div class="hamburger-inner"></div>
          </div>
        </div>
        <!-- menu-trigger end-->
      </div>
    </div>
  </div>
</header>
<!-- header end-->
