<!-- menu dropdown start-->
<div class="menu-dropdown menu-dropdown--front-3">
  <div class="menu-dropdown__inner" data-value="start">
    <div class="screen screen--start">
      <div
        class="screen__item screen--trigger item--active"
        data-category="home"
      >
        <span>Home</span
        ><span>
          <svg class="icon">
            <use xlink:href="#chevron"></use></svg
        ></span>
      </div>
      <div class="screen__item screen--trigger" data-category="pages">
        <span>Pages</span
        ><span>
          <svg class="icon">
            <use xlink:href="#chevron"></use></svg
        ></span>
      </div>
      <div class="screen__item">
        <a class="screen__link" href="blog.html">Blog</a>
      </div>
      <div class="screen__item screen--trigger" data-category="shop">
        <span>Shop</span
        ><span>
          <svg class="icon">
            <use xlink:href="#chevron"></use></svg
        ></span>
      </div>
      <div class="screen__item">
        <a class="screen__link" href="contacts.html">Contacts</a>
      </div>
      <div class="screen__item screen--trigger" data-category="elements">
        <span>Elements</span
        ><span>
          <svg class="icon">
            <use xlink:href="#chevron"></use></svg
        ></span>
      </div>
      <div class="screen__item screen--trigger" data-category="language">
        <span>Language</span
        ><span>
          <svg class="icon">
            <use xlink:href="#chevron"></use></svg
        ></span>
      </div>
      <ul class="screen__socials">
        <li>
          <a class="item--facebook" href="#"
            ><i class="fa fa-facebook" aria-hidden="true"></i
          ></a>
        </li>
        <li>
          <a class="item--twitter" href="#"
            ><i class="fa fa-twitter" aria-hidden="true"></i
          ></a>
        </li>
        <li>
          <a class="item--youtube" href="#"
            ><i class="fa fa-youtube-play" aria-hidden="true"></i
          ></a>
        </li>
        <li>
          <a class="item--instagram" href="#"
            ><i class="fa fa-instagram" aria-hidden="true"></i
          ></a>
        </li>
      </ul>
      <a class="screen__button" href="#">Tickets</a>
    </div>
  </div>
  <div class="menu-dropdown__inner" data-value="home">
    <div class="screen screen--sub">
      <div class="screen__heading">
        <h6 class="screen__back">
          <svg class="icon">
            <use xlink:href="#chevron-left"></use>
          </svg>
          <span>Home</span>
        </h6>
      </div>
      <div class="screen__item">
        <a class="screen__link" href="index.html">Home Zoo</a>
      </div>
      <div class="screen__item">
        <a class="screen__link" href="front_2.html">Home Aquarium</a>
      </div>
      <div class="screen__item item--active">
        <a class="screen__link" href="front_3.html">Home Terrarium</a>
      </div>
      <div class="screen__item">
        <a class="screen__link" href="front_4.html">Home Protections</a>
      </div>
      <div class="screen__item">
        <a class="screen__link" href="front_5.html">Home Safari</a>
      </div>
      <div class="screen__item">
        <a class="screen__link" href="front_6.html">Home Shop</a>
      </div>
    </div>
  </div>
  <div class="menu-dropdown__inner" data-value="pages">
    <div class="screen screen--sub">
      <div class="screen__heading">
        <h6 class="screen__back">
          <svg class="icon">
            <use xlink:href="#chevron-left"></use>
          </svg>
          <span>Pages</span>
        </h6>
      </div>
      <div class="screen__item">
        <a class="screen__link" href="about.html">About</a>
      </div>
      <div class="screen__item">
        <a class="screen__link" href="services.html">Services</a>
      </div>
      <div class="screen__item">
        <a class="screen__link" href="blog-details.html">Blog Details</a>
      </div>
      <div class="screen__item">
        <a class="screen__link" href="gallery.html">Gallery</a>
      </div>
      <div class="screen__item">
        <a class="screen__link" href="gallery_2.html">Gallery v.2</a>
      </div>
      <div class="screen__item">
        <a class="screen__link" href="calendar.html">Calendar</a>
      </div>
      <div class="screen__item">
        <a class="screen__link" href="membership.html">Membership</a>
      </div>
      <div class="screen__item">
        <a class="screen__link" href="events.html">Events</a>
      </div>
      <div class="screen__item">
        <a class="screen__link" href="event-details.html">Event Details</a>
      </div>
      <div class="screen__item">
        <a class="screen__link" href="tickets.html">Tickets</a>
      </div>
      <div class="screen__item">
        <a class="screen__link" href="foundation.html">Foundation</a>
      </div>
      <div class="screen__item">
        <a class="screen__link" href="education.html">Education</a>
      </div>
      <div class="screen__item">
        <a class="screen__link" href="donation.html">Donation</a>
      </div>
      <div class="screen__item">
        <a class="screen__link" href="donation-details.html"
          >Donation Details</a
        >
      </div>
      <div class="screen__item">
        <a class="screen__link" href="animals.html">Animals</a>
      </div>
      <div class="screen__item">
        <a class="screen__link" href="animal-details.html">Animal Details</a>
      </div>
      <div class="screen__item">
        <a class="screen__link" href="safari-tours.html">Safari Tours</a>
      </div>
      <div class="screen__item">
        <a class="screen__link" href="tour-details.html">Tour Details</a>
      </div>
      <div class="screen__item">
        <a class="screen__link" href="typography.html">Typography</a>
      </div>
      <div class="screen__item">
        <a class="screen__link" href="faq.html">Faq</a>
      </div>
      <div class="screen__item">
        <a class="screen__link" href="map.html">Map</a>
      </div>
      <div class="screen__item">
        <a class="screen__link" href="404.html">404</a>
      </div>
    </div>
  </div>
  <div class="menu-dropdown__inner" data-value="shop">
    <div class="screen screen--sub">
      <div class="screen__heading">
        <h6 class="screen__back">
          <svg class="icon">
            <use xlink:href="#chevron-left"></use>
          </svg>
          <span>Shop</span>
        </h6>
      </div>
      <div class="screen__item">
        <a class="screen__link" href="shop-catalog.html">Shop Catalog</a>
      </div>
      <div class="screen__item">
        <a class="screen__link" href="shop-product.html">Shop Product</a>
      </div>
      <div class="screen__item">
        <a class="screen__link" href="shop-cart.html">Shop Cart</a>
      </div>
      <div class="screen__item">
        <a class="screen__link" href="shop-checkout.html">Shop Checkout</a>
      </div>
      <div class="screen__item">
        <a class="screen__link" href="shop-account.html">Shop Account</a>
      </div>
    </div>
  </div>
  <div class="menu-dropdown__inner" data-value="elements">
    <div class="screen screen--sub">
      <div class="screen__heading">
        <h6 class="screen__back">
          <svg class="icon">
            <use xlink:href="#chevron-left"></use>
          </svg>
          <span>Elements</span>
        </h6>
      </div>
      <div class="screen__item">
        <a class="screen__link" href="accordion.html">Accordion</a>
      </div>
      <div class="screen__item">
        <a class="screen__link" href="alerts.html">Alerts</a>
      </div>
      <div class="screen__item">
        <a class="screen__link" href="breadcrumbs.html">Breadcrumbs</a>
      </div>
      <div class="screen__item">
        <a class="screen__link" href="buttons.html">Buttons</a>
      </div>
      <div class="screen__item">
        <a class="screen__link" href="charts.html">Charts</a>
      </div>
      <div class="screen__item">
        <a class="screen__link" href="counters.html">Counters</a>
      </div>
      <div class="screen__item">
        <a class="screen__link" href="forms.html">Forms</a>
      </div>
      <div class="screen__item">
        <a class="screen__link" href="icon-list.html">Icon List</a>
      </div>
      <div class="screen__item">
        <a class="screen__link" href="logos.html">Logos</a>
      </div>
      <div class="screen__item">
        <a class="screen__link" href="paginations.html">Paginations</a>
      </div>
      <div class="screen__item">
        <a class="screen__link" href="pricing-tables.html">Pricing Tables</a>
      </div>
      <div class="screen__item">
        <a class="screen__link" href="tabs.html">Tabs</a>
      </div>
      <div class="screen__item">
        <a class="screen__link" href="team.html">Tean</a>
      </div>
      <div class="screen__item">
        <a class="screen__link" href="testimonials.html">Testimonials</a>
      </div>
    </div>
  </div>
  <div class="menu-dropdown__inner" data-value="language">
    <div class="screen screen--sub">
      <div class="screen__heading">
        <h6 class="screen__back">
          <svg class="icon">
            <use xlink:href="#chevron-left"></use>
          </svg>
          <span>Language</span>
        </h6>
      </div>
      <div class="screen__item">
        <a class="screen__link" href="javascript:void(0);">English</a>
      </div>
      <div class="screen__item">
        <a class="screen__link" href="javascript:void(0);">French</a>
      </div>
      <div class="screen__item">
        <a class="screen__link" href="javascript:void(0);">Spanish</a>
      </div>
      <div class="screen__item">
        <a class="screen__link" href="javascript:void(0);">Deutsch</a>
      </div>
      <div class="screen__item">
        <a class="screen__link" href="javascript:void(0);">Russian</a>
      </div>
    </div>
  </div>
</div>
<!-- menu dropdown end-->
