{% extends 'shared/base_layout.html' %} 
{% load i18n %} 
{% load static %} 
{% block title %}{% translate "Articles" %}{% endblock title %} 
{% block content %}

{% static "base/img/breadcrumb/01.jpg" as breadcrumb_image %}

{% with breadcrumb_title='Articles' %}
  {% include "shared/breadcrumb.html" with breadcrumb_menu=breadcrumb_menu breadcrumb_title=breadcrumb_title breadcrumb_image=breadcrumb_image %}
{% endwith %}

<div class="service-area py-120">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <div class="site-heading text-center">
          <span class="site-title-tagline">{% translate "Articles" %}</span>
          <h2 class="site-title">{% translate "Articles" %}</h2>
        </div>
      </div>
    </div>
    <div class="row">
      {% for article in articles %}
      <div class="col-md-6 col-lg-3">
        {% include "articles/components/article_list_item.html" with article=article %}
      </div>
      {% endfor %}
    </div>

    {% include "shared/pagination.html" with pagination=articles %}
  </div>
</div>
{% endblock content %}
